#title {
    font-family: monospace;
    color: rgb(51, 35, 141);
    text-decoration: dashed;
    text-align: center;   
    font-size: 500%;
    position: sticky;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
}    
body{
    background-image: url(./Images/12.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    height: 400px;
    width: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a

}

.the-old-Devices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 10000px;

}
h3{
    font-family: monospace;
    color: rgb(25, 56, 231);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(41, 73, 255);
    font-size: 300%;
    margin: 100px 200px 50px 200px;
    padding: 10px 10% 10px 10%;
}
h2{
    font-family: monospace;
    color: rgb(25, 56, 231);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(41, 73, 255);
    font-size: 400%;
    margin: 100px 150px 50px 150px;
    padding: 10px 10% 10px 10% ;
}
.top-prodacts-img{
  display: flex;              
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.Game_Boy_Color{
  display: flex;              
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.Game_Boy_Color-img{
  height: auto;
  flex-direction: column;
}

.Game_Boy_Color-text{
  display: flex;              
  flex-direction: column;     
  gap: 5px;
  font-family: fantasy;
  font-size: 100%;
}