.name{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.lists{
    font-size: 25px;
    color: rgb(51, 35, 141); 
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    background-color: rgb(3, 83, 255);
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;        
}
#signup-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(99, 32, 32);
    border-color: rgb(212, 54, 54);
    border-radius: 10px;
    border-style: solid;
    font-size: 300%;
    margin: 50px 500px 50px 500px;
    background-color: rgb(228, 53, 53)
}
button{
    background-color: rgb(54, 179, 75);
    font-size: 35px;
    cursor: pointer;
    border-radius: 10px;
    border-color: rgb(57, 155, 74);
    color: rgb(27, 92, 41);
    margin: 20px 20px 20px 20px;
    padding: 10px 20px 10px 20px;    
}
button:hover{
    background-color:rgb(94, 201, 111);

}
body{
    background-image: url(../public/Images/background-color-application-3.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}