.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;        
}
#signup-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: blue;
    font-size: 35px;
    cursor: pointer;    
}
button:hover{
    background-color:rgb(63, 63, 247);

}
body{
    background-image: url(../public/Images/12.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}