#title {
    font-family: monospace;
    color:  rgb(109, 78, 53);
    text-decoration: dashed;
    text-align: center;   
    font-size: 500%;
    position: sticky;
    border-style: solid;
    border-radius: 10px;
    border-color:rgb(71, 34, 3);
}    
body{
    background-image: url(../public/Images/background-color-application.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    height: 400px;
    width: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 10px 4px 25px 3px #3a3a3a

}

.the-old-Devices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 10000px;

}
h3{
    font-family: monospace;
    color: rgb(109, 78, 53);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(71, 34, 3);
    font-size: 300%;
    margin: 100px 200px 50px 200px;
    padding: 10px 10% 10px 10%;
}
h2{
    font-family: monospace;
    color:  rgb(109, 78, 53);;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(71, 34, 3);
    font-size: 400%;
    margin: 100px 150px 50px 150px;
    padding: 10px 10% 10px 10% ;
}
.top-prodacts-img{
  display: flex;              
  align-items: center;
  flex-direction: column;
  height: 400px;
}
.Game_Boy_Color{
  display: flex;              
  align-items: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.Game_Boy_Color-img{
  height:400px;
  width: 300px;
  flex-direction:row;
  gap: 10px;
  align-items: center;
}

.Game_Boy_Color-text{
  display: flex;              
  flex-direction: row;     
  gap: 5px;
  font-family:cursive;
  font-size: 120%;
  position: relative;
  left: 310px;
  bottom: 300px;

}
button{
    background-color: rgb(7, 7, 253);
}
button:hover{
    background-color: rgb(74, 74, 243);
}
.buyBtn{
  display: flex;              
  flex-direction: row;     
  gap: 5px;
  font-family:cursive;
  font-size: 120%;
  position: relative;
  left: 310px;
  bottom: 300px;
  cursor: pointer;
}
.the-new-Devices{
    display: flex;
    font-family: monospace;
    color: rgb(71, 34, 3);
    text-decoration: dashed;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(109, 78, 53);
    font-size: 300%;
    margin: 100px 200px 50px 200px;
    padding: 10px 10% 10px 10%;
}