#title {
    font-family: monospace;
    color: rgb(99, 32, 32);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(212, 54, 54);
    font-size: 500%;
    margin: 50px 50px 50px 50px;
    position:sticky ;
    right: 335px;
    top:0;
    background-color: rgb(228, 53, 53)
}
body{
    background-image: url(../public/Images/background-color-application-3.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a
}
.the-old-Devices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.the-new-Devices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
h2{
    font-family: monospace;
    color: rgb(141, 79, 22);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(212, 131, 54);
    font-size: 300%;
    margin: 50px 50px 50px 50px;

    right: 335px;
    top:0;
    background-color: rgb(228, 149, 53)
}   
h3{
    font-family: monospace;
    color: rgb(51, 35, 141);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    font-size: 200%;
    margin: 20px 20px 20px 20px;
    right: 335px;
    top:0;
    background-color: rgb(3, 83, 255)
}
button{
    font-family: monospace;
    color: rgb(27, 92, 41);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(57, 155, 74);
    font-size: 150%;
    margin: 20px 20px 20px 20px;
    right: 335px;
    top:0;
    background-color: rgb(54, 179, 75);
    cursor: pointer;
}
.Game_Boy_Color-text{
    font-size: 150%;
}